# Zabbix Agent 2 Configuration
# Gerado pelo Ansible — não edite manualmente

PidFile=/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0

Server={{ zabbix_agent_server }}
ServerActive={{ zabbix_agent_server_active }}
Hostname={{ inventory_hostname }}

ListenPort={{ zabbix_agent_listen_port }}

# Permite comandos remotos (útil para testes)
EnableRemoteCommands=0
LogRemoteCommands=1

ControlSocket=/tmp/agent.sock
